:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: var( --toolbar-height, 56px );
  padding: 0 16px 0 16px;
  position: relative;
}

:host( [concealed] ) {
  visibility: hidden;
}

:host( [hidden] ) {
  display: none;
}

::slotted( md-label ) {
  flex-basis: 0;
  flex-grow: 1;
  --label-font-size: 20px;
  --label-font-weight: 500;
}
