:host {
  box-sizing: border-box;
  display: block;
  position: relative;
}

:host( [concealed] ) {
  visibility: hidden;
}

:host( [hidden] ) {
  display: none;
}

button {
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var( --button-color, #ff0000 );
  cursor: var( --button-cursor, pointer );
  display: flex;
  flex-direction: row;
  font-family: var( --button-font-family, 'Roboto', sans-serif );
  font-size: var( --button-font-size, 14px );
  font-weight: var( --button-font-weight, 600 );
  justify-content: center;
  margin: 0;
  min-height: 36px;
  outline: none;
  padding: 0;  
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );                    
  text-align: var( --button-text-align, left );
  text-transform: var( --button-text-transform, uppercase );  
  width: 36px;           
}

:host( [kind="contained"] ) button {
  background-color: var( --button-background-color, #ff0000 );
  box-shadow: 0 2px 5px rgb( 0, 0, 0, 0.26 );
  color: var( --button-color, #ffffff );
  padding: 0 16px 0 16px;
  width: unset;
}

:host( [kind="outlined"] ) button {
  background-color: transparent;
  border: solid 1px #ff0000;
  border-color: var( --button-color, #ff0000 );
  color: var( --button-color, #ff0000 );
  padding: 0 16px 0 16px;  
  width: unset;
}

::slotted( md-icon ) {
  margin: 0 8px 0 0;
}
